body {
  font-family: Arial, sans-serif;
  background-color: #f0ebe6;
  margin: 0;
  padding: 0;
}

nav a.nav-gallery {
  font-weight: 800;
  border-bottom: 2px solid #ffffff; /* Underlines gallery on nav bar */
}

.gallery-section {
  padding: 0 20px;
  background-color: #f0ebe6;
  text-align: center;
  margin-top: 200px;
  margin-bottom: 100px;
}

.gallery-section h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.gallery-section p {
  font-size: 1.2rem;
  margin-bottom: 100px;
  color: #555;
}

/* Each Gallery section */

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  padding: 0 40px;
  justify-content: center; /* Center the entire grid */
}

.gallery-item {
  background-color: #d9d7ce;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex; /* aligns text and images */
  flex-direction: column; /* Stacks elements vertically */
  align-items: center; /* Center align items */
}

.gallery-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: transform 0.3s ease; /* Add transition for scaling */
}

.gallery-item img:hover {
  transform: scale(1.05); /* Scale effect only on the image */
}

/* Feature for making the image pop up when clicked */

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}

.modal-content {
  width: 80%;
  max-width: 800px;
}

.modal-close {
  position: absolute;
  top: 20px;
  right: 35px;
  color: white;
  font-size: 40px;
  cursor: pointer;
}

/* Gallery blocks text */

.gallery-item h2 {
  font-size: 1.5rem;
  margin: 10px 0 5px;
  text-align: center; /* Center align title */
}

.gallery-item p {
  font-size: 1rem;
  color: #555;
  text-align: center; /* Center align description */
}

/*------ Media queries for different screen sizes ------*/

@media (max-width: 1376px) {
  .gallery-section p {
    padding: 0 40px;
  }
}

@media (max-width: 768px) {
  .gallery-section {
    padding: 0 10px;
  }

  .gallery-grid {
    grid-template-columns: repeat(
      2,
      1fr
    ); /* Makes 2 items per row for smaller screens */
  }

  .gallery-section h1 {
    font-size: 2rem;
  }

  .gallery-section p {
    font-size: 1rem;
  }
}

@media (max-width: 700px) {
  .gallery-grid {
    grid-template-columns: 1fr; /* Stack items in one column on smaller screens */
  }

  .gallery-section h1 {
    font-size: 1.8rem; /* Decreases title size */
  }

  .gallery-section {
    margin-top: 150px;
  }

  .gallery-section p {
    font-size: 0.9rem;
  }
}
